.home-page {
}

h1 {
	font-family: "Montserrat", "Proxima Nova", sans-serif;
	@apply text-7xl font-semibold;
}

.anc-btn {
	/* filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));  // Outline effect  */

	@apply rounded-md px-6 py-1;
}

.a-nav-center {
	@apply text-sm hover:text-blue-100 outline hover:outline-1 hover:outline hover:bg-gray-800 px-4 py-2 rounded-sm outline-none;
}

.a-domain {
	@apply cursor-pointer hover:outline outline-2 outline-gray-200 rounded-sm py-2;
}

.a-logo {
	@apply cursor-pointer tooltip hover:tooltip-open tooltip-bottom;
}

.div-dropdown {
	@apply hover:outline outline-2 outline-gray-200 rounded-sm py-3 px-3;
}

.login-btn {
	@apply cursor-pointer text-sm py-2 px-4 rounded-sm hover:bg-white hover:outline outline-1 outline-gray-800 mx-2;
}

.signup-btn {
	@apply cursor-pointer text-sm bg-gray-200 py-2 px-4 rounded-sm  hover:bg-white outline outline-1 outline-gray-800;
}

.reviews .images {
	display: flex;
	margin-right: 4rem;
	position: relative;
}

.reviews .images img {
	background-color: white;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	padding: 2px;
	border: 2px solid black;
}

.reviews .images img:nth-child(1) {
	left: 0;
}

.reviews .images img:nth-child(2) {
	position: absolute;
	left: 80%;
}

.reviews .images img:nth-child(3) {
	position: absolute;
	left: 160%;
}

.reviews .stars input[type="radio"] {
	@apply w-4 h-4 mx-[-4px];
}

.d-tip-class {
	font-family: "Pacifico";
}
